// ================================
//  見た目を整えるCSS
// ================================
main {
  margin-block: 100px;
}
section {
  padding-block: 100px;
}
.star {
  position: relative;
  margin-bottom: 60px;
}
.star-img {
  width: 200px;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.4);
  &.--default {
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0.3;
  }
}

// ================================
//  本題のCSS -- 1
// ================================
.star-img {
  &.--action {
    // display: none;
    position: relative;
    top: 0;
    left: 50%;
    translate: -50%;
  }
}

//===============================================

// ================================
//  見た目を整えるCSS
// ================================
.animation-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// ================================
//  本題のCSS -- 2
// ================================

//===============================================

// ================================
//  見た目を整えるCSS
// ================================
.drone {
  background: #caf8fe;
}

.horror {
  background: #000;
}

.animation-drone-box {
  text-align: center;
}
.animation-horror-box {
  text-align: center;
}

// ================================
//  本題のCSS -- 3
// ================================
