// ================================
//  見た目を整えるCSS
// ================================

.box__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 700;

    &:nth-of-type(1) {
        background: rgb(194, 150, 235);
    }
    &:nth-of-type(2) {
        background: rgb(150, 150, 235);
    }
    &:nth-of-type(3) {
        background: rgb(232, 150, 235);
    }
    &:nth-of-type(4) {
        background: rgb(150, 235, 180);
    }
    &:nth-of-type(5) {
        background: rgb(214, 235, 150);
    }
    &:nth-of-type(6) {
        background: rgb(235, 157, 150);
    }
}

// ================================
//  本題のCSS
// ================================
