// ================================
//  見た目を整えるCSS
// ================================
.card {
  padding-block: 100px;
}
.card__inner {
  width: min(calc(800px + 20px * 2), 100%);
  padding-inline: 20px;
  margin-inline: auto;
}

// ================================
//  本題のCSS
// ================================
