// ================================
//  見た目を整えるCSS
// ================================
.after__text {
  padding-block: 200px;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
}
button,
a {
  text-decoration: none;
  background: transparent;
  color: inherit;
}

// ================================
//  本題のCSS
// ================================

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    inset: 0;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
  }
  opacity: 0;
  visibility: hidden;
  &.js-show {
    opacity: 1;
    visibility: visible;
  }
}
.loading__container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: min(696px, 95%);
  height: 363px;
  z-index: 1;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading__text {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px; /* 150% */
  margin-bottom: 37px;
}
.loading__btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 52px;
}
.loading__btn {
  min-width: 145px;
  padding-block: 9px;
  padding-inline: 10px;
  text-align: center;
  color: #fff;
  font-size: 32px;
  line-height: 48px; /* 150% */
  border: 1px solid #fff;
}
